services:
  mysql:
    image: mysql:8.0
    container_name: pixstream-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - '${DB_PORT:-3306}:3306'
    volumes:
      - ./docker/mysql-data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: pixstream-redis
    restart: unless-stopped
    ports:
      - '${REDIS_PORT:-6379}:6379'
